extends layout

block content
    form(action='/addCategory', method='POST')
        p 
            | title:
            input(type='text', name='categoryName', value='')
        input(type='submit', value='Submit')